.client-area {
    .clients-wrap {
        margin-top: -50px;
        .slider {
            width: 1116px;
            height: 100px;
            position: relative;
            background-color: black;
            box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: hidden;
            .slide {
                padding-top: 37px;
                display: flex;
                align-items: center;
                justify-content: center;
                vertical-align: middle;
                animation: slideshow 9s linear infinite;
                img {
                    padding: 0 30px 0 30px;
                    align-items: center;
                }
            }
        }
        @keyframes slideshow {
            0% {
                transform: translateX(0px);
            }
            100% {
                transform: translateX(-100%);
            } 
        }
    }
}