.service-line {
    .slick-slider {
        padding: 10px 0;
        background-color: rgb(250, 215, 100);
        marquee {
            p {
                font-size: 30px;
                font-weight: 600;
                color: #000;
                padding-top: 20px;
                img {
                    width: 2%;
                    margin-left: 50px;
                    margin-right: 15px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
    }
}